form {

  &.ui.form.no-margin-below {
    .fields {
      margin-bottom: 0;
    }
  }

  .pull-right {
    justify-content: flex-end;
  }

  .pull-center {
    justify-content: center;
  }

  .button-container {
    padding: 0 40%;
    width: 100%;

    button {
      width: 100%;
    }
  }

  .space-above-40 {
    margin-top: 40px;
  }

  .fields {
    .field.narrow {
      width: 50%;
    }

    .field.broad {  // wide is already in semantic and sucks
      width: 150%;
    }
  }
}
