form {

  &.ui.form.no-margin-below {
    .fields {
      margin-bottom: 0;
    }
  }

  &.ui.form.corner-tiny-form {
    width: 50%;
    margin-left: 50%;
  }

  .pull-right {
    justify-content: flex-end;
  }

  .pull-center {
    justify-content: center;
  }

  .fields {
    .field.narrow {
      width: 50%;
    }

    .field.broad {  // wide is already in semantic and sucks
      width: 150%;
    }
  }
}
