// for components with navbar
// use with .ui.container

.scrollable-page-view {
  align-items: center;
  display: flex !important;
  flex-direction: column;
  height: 100%;
  justify-content: flex-start;
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  padding-top: $header-height;

  > * {
    width: 100%;
    padding: 2vh 0;
  }

  .main-button-container {
    margin: 4rem 0;
    padding: 0 35%;
    width: 100%;

    button {
      width: 100%;
    }
  }

  .ui.message:first-child {
    margin-top: 5vh;
  }
}

.fixed-footer {
  align-items: center;
  background-color: white;
  bottom: 0;
  display: flex;
  justify-content: center;
  height: $footer-height;
  padding: $footer-space;
  position: fixed;
}
