.task-item {
  .content {
    font-size: 15px;
    line-height: 20px;
    vertical-align: middle;

    .icon {
      cursor: pointer;

      &:hover {
        color: teal;
      }
    }
  }
}

.help.circle.icon {
  cursor: pointer;
  font-size: 14px;
  padding: 0 3px;
}

code {
  color: darkred;
  font-weight: bold;
}
