# Gradle and builds #
.gradle
/build/
**/.gradle
**/build
**/gradle
**/gradlew
**/gradlew.bat
!gradle-wrapper.jar
*.class
!gradlew
!gradlew.bat

# Logs
*.log

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar



# IntelliJ
out/
.idea/
**/*.iml