# Gradle and builds #
.gradle
/build/
**/.gradle
**/build
**/gradle
**/gradlew
**/gradlew.bat
!gradle-wrapper.jar
*.class
!gradlew
!gradlew.bat

# Front end
*/node_modules/

# Doc markdowns - we want only this one from root
**/docs/

# TODO remove it - it's only temporary workaround for fucking files creating by dumb gradle/intellij...
**/API.md

# Logs
*.log

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar



# IntelliJ
out/
.idea/
**/*.iml

# Unignore
!/gradle/wrapper/gradle-wrapper.jar
