# Gradle and builds #
.gradle
/build/
**/.gradle
**/build
**/gradle
**/gradlew
**/gradlew.bat
!gradle-wrapper.jar
*.class
!gradlew
!gradlew.bat

# Front end
*/node_modules/

# Doc markdowns - we want only this one from root
**/docs/

# Logs
*.log
/logs/**

# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# IntelliJ
out/
.idea/
**/*.iml

# Folder for custom local libs
libs/
tmp

# Unignore
!/gradle/wrapper/gradle-wrapper.jar
