@import "../variables";

.dashboard {
  padding-top: 1px;

  :host-context(*) {
    h1 {
      margin-bottom: 80px;
    }

    .header {
      .right.menu {
        span {
          cursor: pointer;
          margin-left: 1rem;
        }
        .ui.dropdown.item .menu {
          background-color: $background-color !important;
          border-color: darkgray;

          .item {
            color: white !important;
            &:hover {
              background-color: black !important;
            }
          }
          .divider {
            background-color: darkgray !important;
            margin: 0;
          }
        }
      }
    }
  }
}

.ui.buttons .or::before {
  color: white;
  background-color: $background-color;
  content: 'lub';
}


