* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 12px;
}

body {
  font-size: $base-font-size;
}


@for $i from 1 through 4 {
  h#{$i} {
    @include h-style($i);
  }
}

p {
  font-size: 1rem;
  margin-bottom: $base-space;
}

a {
  font-size: 1rem;
  color: $main-color;
}

form {
  text-align: left;

  textarea {
    font-family: 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif !important;
    resize: none !important;
  }
}

::selection {
  background: $main-lighten-color;
}

::-moz-selection {
  background: $main-lighten-color;
}
