// Colors
$main-color: #00b5ad; // teal from semantic
$main-lighten-color: lighten($main-color, 50%);

// Font sizes
$base-font-size: 1.4rem;
$h1-font-size: 6.5rem;

// Dimensions
$header-height: 47px;
$footer-height: 75px;

// Spacing
$base-space: 1.3rem;
$footer-space: ($footer-height/4) 0;


// Tournament card
$tournament-card-spacing: 0.8rem;
$tournament-card-section-height: 4rem;
$tournament-card-big-section-height: 1.5 * $tournament-card-section-height;
