// Colors
$main-color: #00b5ad; // teal from semantic
$main-lighten-color: lighten($main-color, 50%);

// Font sizes
$base-font-size: 1.4rem;
$h1-font-size: 6.5rem;

// Spacing
$base-space: 1.3rem;

// Dimensions
$header-height: 47px;
