<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
<center><img src="logo.jpg" th:src="|cid:${logo}|"/></center>

<h2>Witaj, <span th:text="${userName}"></span>!</h2>
<br/>
<p>Chcielibyśmy Cię poinformować, że data końcowa turnieju <b><span th:text="${tournamentName}"></span></b> została
    przedłużona. Nowa data zakończenia to <b><span th:text="${deadline}"></span></b>.</p>
<br/>
<p>Pozdrawiamy,<br/>e-Arbiter</p>
</body>
</html>